{% extends 'templates.html' %}

{% block title_page %}Список заказов{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<div id="market-menu">

			<main class="menu-block">
				<p><a href="{% url 'market:product-list' %}">Список товаров</a></p>
			</main>
		</div>

		<main>
			<p>Список заказов:</p>

			{% for order in object_list %}
				{% if order.client == user %}

					<p>
						<a href="{{ order.get_absolute_url }}">
							Клиент: <a href="{{ order.client.get_absolute_url }}">{{ order.client.username }}</a>,
							Продукт: <a href="{{ order.product.get_absolute_url }}">{{ order.product.title }}</a>,
							Количество: {{ order.count }},
							Общая стоимость: {{ order.was_total_price }},
							Статус: {{ order.status }} |
						</a>
						{% if user.is_superuser or order.product.provider.owner == user or order.product.provider.workers.all in user %}
							<a href="{{ object.get_update_url }}"><i class="fa fa-pencil"></i></a>
							<a href="{{ product.get_delete_url }}"><i class="fa fa-trash"></i></a>
						{% endif %}
					</p>
					<br>

				{% endif %}

			{% empty %}
				Нет заказов
			{% endfor %}	
		</main>

	{% else %}
		Вы не авторизованы для просмотра данного контента
	{% endif %}

{% endblock %}
